.titleClass{
    height: 50px;
    width: 200px;
    
    margin:auto;
    margin-top: 10px;
    color: yellow;
}
.main{
    text-align: center;
    background-color: rgb(131, 58, 224);;
    border: 5px solid yellow;
    height: 350px;
    margin: auto;
    width: 60%;
    padding: 10px;
}
.main p{
    color: azure;
}